.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f2f2f2;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

.login-form form {
    display: flex;
    flex-direction: column;
    /* This makes the input fields stack vertically */
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.login-form input[type='text'],
.login-form input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-form input[type='submit']:hover {
    background-color: #0056b3;
}

#create-acct-btn {
    /* width: 20.5%; */
    width: 19rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 1rem;
}

#create-acct-btn:hover {
    background-color: #0056b3;
}