.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.profile-container h1 {
    font-size: 80px;
    color: #333;
    font-family: 'Verdana', sans-serif;    margin: 0;
    position: flex;
    top: 10px;
    left: 50%;
}
.profile-container button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 15px;
    /* change this to a smaller percentage or a fixed pixel size */
    background-color: #007BFF;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 10px 30px 15px rgba(0, 0, 0, 0.2);
    /* increase the shadow effect */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* you need to specify the position as absolute or relative to use top and left */
    top: 30px;
    left: 50%;
    transform: translate(600%, 140%);
    /* this will center your button */
}

.profile-container button:hover {
    background-color: #69727c;
    box-shadow: 5px 30px 40px rgba(0, 0, 0, 0.3);
    /* increase the shadow effect on hover */
}

/* .profile-container button:active {
    background-color: #004085;
    transform: scale(0.95);
} */

.write-btn{
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
}
